* {
    font-family: 'Iosevka Web', sans-serif;
    font-weight: 300;
    margin: 0;
    padding: 0;
}

:root {
    --color1: rgba(161, 221, 216, 0.9);
    --color2: #101414;
    --color3-dark: rgb(40, 40, 40);
    --color4: rgb(216, 216, 216);
    --card-color: rgb(23, 23, 23);
    --pcolor: rgb(235, 235, 235);
}

/*Animations*/

@keyframes background-pan {
    from {
        background-position: 0% center;
    }
    to {
        background-position: -200% center;
    }
}

.blue-pop {
    animation: background-pan 3s linear infinite;
    background: linear-gradient(
        to right,
        rgb(50, 102, 255),
        rgb(119, 222, 213),
        rgb(202, 221, 254),
        rgb(119, 222, 213),
        rgb(50, 102, 255)
    );
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.red-pop {
    animation: background-pan 3s linear infinite;
    background: linear-gradient(
        to right,
        rgb(255, 50, 57),
        rgb(249, 155, 55),
        rgb(254, 207, 53),
        rgb(249, 155, 55),
        rgb(255, 50, 57)
    );
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.bounce {
    position:relative;
    transition: top 300ms ease;
    top: 0px;
}

.bounce:hover {
    transition: top 300ms ease;
    top: -3px; 
}

/*Basic element styles*/

body {
    background: linear-gradient(
        176deg,
        var(--color2) 50%,
        #212735 100%
    );
    background-attachment: fixed;
}

.nav-top ul {
    list-style-type: none;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
}

.nav-top li {
    display: inline;
    float: right;
}

.nav-top li a {
    display: block;
    text-decoration: none;
    font-size: 18px;
    color: var(--pcolor);
    font-weight: 550;
    padding: 16px;
}

.nav-top li a:hover {
    background: linear-gradient(
        to right,
        rgb(249, 155, 55),
        rgb(255, 50, 57)
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav-left {
    position: fixed;
    top: 0;
    left: 20px;
    width: 50px;
    height: 100%;
    z-index: 1;
}

.nav-left ul {
    width: 100%;
    padding: 0;
    list-style: none;
    margin-top: 50vh;
}

.nav-left li {
    padding: 4px 0;
    color: var(--color1);
}

.nav-left a {
    display: block;
    font-size: 26px;
    color: var(--color4);
}

.nav-left a:hover {
    color: rgb(0, 138, 207);
}

p {
    font-size: 20px;
    color: var(--pcolor);
}

/*Introduction*/

.introduction {
    color: var(--color1);
    height:  100vh;
    margin-bottom: 5vh;
}

.introduction h2 {
    position: relative;
    top: 30%;
}

.introduction h4 {
    position: relative;
    top: 30%;
}

.introduction p {
    width: 50%;
    margin: 0 auto;
    text-align: left;
    position: relative;
    top: 45%;
}

/*About section*/

.about {
    padding-top: 25vh;
    margin-bottom: 40vh;
}

.about h2 {
    font-weight: 250;
    font-size: 50px;
    color: var(--color1);
}

.about hr {
    width: 50%;
    margin: 30px auto;
    color: rgba(255, 255, 255, 0.8);
}

.about p {
    width: 50%;
    margin: 0 auto;
    font-size: 18px;
    letter-spacing: 2px;
    line-height: 1.5em;
}

/*Projects section*/

.projects {
    margin-top: 15vh;
    padding-top: 10vh;
    margin-bottom: 40vh;
    color: var(--color1);
}

.projects h2 {
    font-weight: 250;
    font-size: 50px;
    color: var(--color1);
}

.projects hr {
    width: 50%;
    margin: 30px auto;
    color: rgba(255, 255, 255, 0.8);
}

.new-grid {
    box-sizing: content-box;
    width: 60%;
    margin: 6vh auto 0 auto;
}

.new-grid .row {
    margin-bottom: 8px;
}

.lmao {
    background-color: rgba(255, 255, 255, 0.02);
    border-radius: 5px;
    padding-bottom: 1px;
    position: relative;
}

.lmao::before {
    background: radial-gradient(
        800px circle at var(--test-x) var(--test-y),
        rgba(255, 255, 255, 0.15),
        transparent 40%
    );
    z-index: 3;
}

.lmao-border {
    background: radial-gradient(
        400px circle at var(--test-x) var(--test-y),
        rgba(255, 255, 255, 0.9),
        transparent 40%
    );
    z-index: 1;
}

.lmao::before, .lmao-border {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    content: '';
    border-radius: inherit;
    opacity: 0;
    transition: opacity 150ms;
}

.lmao:hover::before, .lmao-border{
    opacity: 1;
}

.lmao-content {
    width: 100%;
    height: 100%;
    margin: 1px;
    padding: 0px 1px;
    border-radius: inherit;
    position: relative;
    top: 1px;
    right: 1px;
    z-index: 2;
}

.lmao-content img {
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 5px;
}

/*Contact section*/

.contact {
    color: var(--color1);
    padding-top: 10vh;
    margin-bottom: 40vh;
}

.contact h2 {
    font-weight: 250;
    font-size: 50px;
    color: var(--color1);
}

/*Footer*/
footer {
    height: 200px;
}

/*Scroll effect*/
.hidden {
    opacity: 0;
}

.show {
    transition: opacity 750ms;
    opacity: 1;
}

/*TOOD:
middle lmao has 1 extra pixel of padding*/